In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
from pprint import pprint 
from citipy import citipy
from config import api 
#api.openweathermap.org/data/2.5/weather?id={city id}&appid={API key}
base_url = 'http://api.openweathermap.org/data/2.5/weather?id='

#query=f"{base_url}+{cities}+'&appid='+{api}"

city_output = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

In [5]:
at_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(lat_range[0], lat_range[1], size=1500)
lngs = np.random.uniform(lng_range[0], lng_range[1], size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

627

In [6]:
cities_df=pd.DataFrame(cities)
cities_df=cities_df.rename(columns={0 : 'City Name'})

In [7]:



cities_df['Lat']=""
cities_df['Lng']=""
cities_df['Max Temp']=""
cities_df['Humidity']=""
cities_df['Cloudiness']=""
cities_df['Wind Speed']=""
cities_df['Country']=""
cities_df['Date']=""


cities_df.head()

    City Name Lat Lng Max Temp Humidity Cloudiness Wind Speed Country Date
0  shrewsbury
1      sangar
2       vaini
3  bredasdorp
4   el faiyum

In [8]:
url= 'http://api.openweathermap.org/data/2.5/weather'
params = {'appid' : api}
for x in cities:
    params = {'appid' : api,
                 'q' : x}

In [10]:
url= 'http://api.openweathermap.org/data/2.5/weather'
params = {'appid' : api}
print('Beginning Data Retrieval')
print('-------------------')
counts = 0 
sett = 1 


for index,rows in cities_df.iterrows():
    cityname = rows["City Name"]
    params['q'] = cityname
    print(f"Processing Record {counts} in set {sett} --- {cityname}")
    response = requests.get(url,params=params).json()
    try:
        
        cities_df.loc[index, 'Lat'] = response['coord']['lat']      
        cities_df.loc[index, 'Lng'] = response['coord']['lon']
        cities_df.loc[index, 'Max Temp'] = response['main']['temp_max']
        cities_df.loc[index, 'Humidity'] = response['main']['humidity']
        cities_df.loc[index, 'Cloudiness'] = response['clouds']['all']
        cities_df.loc[index, 'Wind Speed'] = response['wind']['speed']
        cities_df.loc[index, 'Country'] = response['sys']['country']      
        cities_df.loc[index, 'Date'] = response['dt']
    
    except:
          print('city not found --- skip')
    

    counts += 1 
    if counts == 50:
        counts=0
        sett+=1
          
        time.sleep(20)

Beginning Data Retrieval
-------------------
Processing Record 0 in set 1 --- shrewsbury
Processing Record 1 in set 1 --- sangar
Processing Record 2 in set 1 --- vaini
Processing Record 3 in set 1 --- bredasdorp
Processing Record 4 in set 1 --- el faiyum
city not found --- skip
Processing Record 5 in set 1 --- chifeng
Processing Record 6 in set 1 --- guilin
Processing Record 7 in set 1 --- jamestown
Processing Record 8 in set 1 --- new norfolk
Processing Record 9 in set 1 --- babanusah
city not found --- skip
Processing Record 10 in set 1 --- champerico
Processing Record 11 in set 1 --- yialos
city not found --- skip
Processing Record 12 in set 1 --- blythe
Processing Record 13 in set 1 --- odweyne
Processing Record 14 in set 1 --- hermanus
Processing Record 15 in set 1 --- punta arenas
Processing Record 16 in set 1 --- izhma
Processing Record 17 in set 1 --- kodiak
Processing Record 18 in set 1 --- navahrudak
Processing Record 19 in set 1 --- illoqqortoormiut
city not found --- skip
Processing Record 20 in set 1 --- kapaa
Processing Record 21 in set 1 --- kamenka
Processing Record 22 in set 1 --- qaanaaq
Processing Record 23 in set 1 --- ushuaia
Processing Record 24 in set 1 --- mataura
Processing Record 25 in set 1 --- bluff
Processing Record 26 in set 1 --- sentyabrskiy
city not found --- skip
Processing Record 27 in set 1 --- saldanha
Processing Record 28 in set 1 --- ust-ilimsk
Processing Record 29 in set 1 --- fortuna
Processing Record 30 in set 1 --- raudeberg
Processing Record 31 in set 1 --- kamenskoye
city not found --- skip
Processing Record 32 in set 1 --- taolanaro
city not found --- skip
Processing Record 33 in set 1 --- coihaique
Processing Record 34 in set 1 --- caravelas
Processing Record 35 in set 1 --- avarua
Processing Record 36 in set 1 --- yakeshi
Processing Record 37 in set 1 --- te anau
Processing Record 38 in set 1 --- piploda
Processing Record 39 in set 1 --- hilo
Processing Record 40 in set 1 --- chagda
city not found --- skip
Processing Record 41 in set 1 --- tuktoyaktuk
Processing Record 42 in set 1 --- chalmette
Processing Record 43 in set 1 --- busselton
Processing Record 44 in set 1 --- hirara
Processing Record 45 in set 1 --- caohai
Processing Record 46 in set 1 --- luderitz
Processing Record 47 in set 1 --- khatanga
Processing Record 48 in set 1 --- calbuco
Processing Record 49 in set 1 --- rikitea
Processing Record 0 in set 2 --- marcona
city not found --- skip
Processing Record 1 in set 2 --- tambo
Processing Record 2 in set 2 --- cotonou
Processing Record 3 in set 2 --- kemijarvi
Processing Record 4 in set 2 --- east london
Processing Record 5 in set 2 --- pisco
Processing Record 6 in set 2 --- saint george
Processing Record 7 in set 2 --- grand river south east
city not found --- skip
Processing Record 8 in set 2 --- vila franca do campo
Processing Record 9 in set 2 --- shimoda
Processing Record 10 in set 2 --- talnakh
Processing Record 11 in set 2 --- satuk
Processing Record 12 in set 2 --- georgetown
Processing Record 13 in set 2 --- baykit
Processing Record 14 in set 2 --- aguimes
Processing Record 15 in set 2 --- sola
Processing Record 16 in set 2 --- lompoc
Processing Record 17 in set 2 --- nueva guinea
Processing Record 18 in set 2 --- mar del plata
Processing Record 19 in set 2 --- castro
Processing Record 20 in set 2 --- kutum
Processing Record 21 in set 2 --- tasiilaq
Processing Record 22 in set 2 --- sirari
Processing Record 23 in set 2 --- klaksvik
Processing Record 24 in set 2 --- dikson
Processing Record 25 in set 2 --- saint-philippe
Processing Record 26 in set 2 --- pulaski
Processing Record 27 in set 2 --- barentsburg
city not found --- skip
Processing Record 28 in set 2 --- college
Processing Record 29 in set 2 --- la ronge
Processing Record 30 in set 2 --- shunyi
Processing Record 31 in set 2 --- lebu
Processing Record 32 in set 2 --- cairns
Processing Record 33 in set 2 --- akhtubinsk
Processing Record 34 in set 2 --- codrington
Processing Record 35 in set 2 --- zhuhai
Processing Record 36 in set 2 --- kidal
Processing Record 37 in set 2 --- hobart
Processing Record 38 in set 2 --- nouadhibou
Processing Record 39 in set 2 --- upington
Processing Record 40 in set 2 --- lorengau
Processing Record 41 in set 2 --- laguna
Processing Record 42 in set 2 --- vanimo
Processing Record 43 in set 2 --- cherskiy
Processing Record 44 in set 2 --- manggar
Processing Record 45 in set 2 --- samusu
city not found --- skip
Processing Record 46 in set 2 --- clyde river
Processing Record 47 in set 2 --- clovis
Processing Record 48 in set 2 --- saskylakh
Processing Record 49 in set 2 --- koumra
Processing Record 0 in set 3 --- northam
Processing Record 1 in set 3 --- eureka
Processing Record 2 in set 3 --- kholodnyy
Processing Record 3 in set 3 --- ca mau
Processing Record 4 in set 3 --- iqaluit
Processing Record 5 in set 3 --- sigerfjord
city not found --- skip
Processing Record 6 in set 3 --- nipawin
Processing Record 7 in set 3 --- longyearbyen
Processing Record 8 in set 3 --- albany
Processing Record 9 in set 3 --- lumby
Processing Record 10 in set 3 --- sosua
Processing Record 11 in set 3 --- kruisfontein
Processing Record 12 in set 3 --- vaitupu
city not found --- skip
Processing Record 13 in set 3 --- umzimvubu
city not found --- skip
Processing Record 14 in set 3 --- ratnagiri
Processing Record 15 in set 3 --- kedrovyy
Processing Record 16 in set 3 --- cape town
Processing Record 17 in set 3 --- warri
Processing Record 18 in set 3 --- baijiantan
Processing Record 19 in set 3 --- nikolskoye
Processing Record 20 in set 3 --- yellowknife
Processing Record 21 in set 3 --- xining
Processing Record 22 in set 3 --- marystown
Processing Record 23 in set 3 --- preston
Processing Record 24 in set 3 --- pandan
Processing Record 25 in set 3 --- atuona
Processing Record 26 in set 3 --- ilave
Processing Record 27 in set 3 --- mugur-aksy
Processing Record 28 in set 3 --- bengkulu
Processing Record 29 in set 3 --- bethel
Processing Record 30 in set 3 --- yagoua
Processing Record 31 in set 3 --- port alfred
Processing Record 32 in set 3 --- yaan
Processing Record 33 in set 3 --- ola
Processing Record 34 in set 3 --- lagoa
Processing Record 35 in set 3 --- sauda
Processing Record 36 in set 3 --- angoche
Processing Record 37 in set 3 --- puerto ayora
Processing Record 38 in set 3 --- powell river
Processing Record 39 in set 3 --- victoria
Processing Record 40 in set 3 --- barrow
Processing Record 41 in set 3 --- oliver
Processing Record 42 in set 3 --- attawapiskat
city not found --- skip
Processing Record 43 in set 3 --- chokurdakh
Processing Record 44 in set 3 --- tabiauea
city not found --- skip
Processing Record 45 in set 3 --- lavrentiya
Processing Record 46 in set 3 --- arraial do cabo
Processing Record 47 in set 3 --- zhob
Processing Record 48 in set 3 --- madaba
Processing Record 49 in set 3 --- hithadhoo
Processing Record 0 in set 4 --- havre-saint-pierre
Processing Record 1 in set 4 --- amahai
Processing Record 2 in set 4 --- tabou
Processing Record 3 in set 4 --- thompson
Processing Record 4 in set 4 --- lanzhou
Processing Record 5 in set 4 --- gayeri
Processing Record 6 in set 4 --- benjamin constant
Processing Record 7 in set 4 --- sakakah
Processing Record 8 in set 4 --- poya
Processing Record 9 in set 4 --- bambanglipuro
Processing Record 10 in set 4 --- tiksi
Processing Record 11 in set 4 --- butaritari
Processing Record 12 in set 4 --- leningradskiy
Processing Record 13 in set 4 --- fare
Processing Record 14 in set 4 --- bonavista
Processing Record 15 in set 4 --- batagay-alyta
Processing Record 16 in set 4 --- tura
Processing Record 17 in set 4 --- mount isa
Processing Record 18 in set 4 --- pringsewu
Processing Record 19 in set 4 --- salinopolis
Processing Record 20 in set 4 --- ciudad bolivar
Processing Record 21 in set 4 --- bambous virieux
Processing Record 22 in set 4 --- santa cruz de tenerife
Processing Record 23 in set 4 --- kamennogorsk
Processing Record 24 in set 4 --- belushya guba
city not found --- skip
Processing Record 25 in set 4 --- aplahoue
Processing Record 26 in set 4 --- catamarca
Processing Record 27 in set 4 --- taltal
Processing Record 28 in set 4 --- damghan
Processing Record 29 in set 4 --- asau

Processing Record 30 in set 4 --- cotui
Processing Record 31 in set 4 --- dingle
Processing Record 32 in set 4 --- nanortalik
Processing Record 33 in set 4 --- gualeguay
Processing Record 34 in set 4 --- plouzane
Processing Record 35 in set 4 --- haimen
Processing Record 36 in set 4 --- camacha
Processing Record 37 in set 4 --- avera
Processing Record 38 in set 4 --- norman wells
Processing Record 39 in set 4 --- brae
Processing Record 40 in set 4 --- naron
Processing Record 41 in set 4 --- palana
Processing Record 42 in set 4 --- kaitangata
Processing Record 43 in set 4 --- ponta do sol
Processing Record 44 in set 4 --- nampula
Processing Record 45 in set 4 --- axim
Processing Record 46 in set 4 --- mahebourg
Processing Record 47 in set 4 --- cabo san lucas
Processing Record 48 in set 4 --- soyo
Processing Record 49 in set 4 --- tchibanga
Processing Record 0 in set 5 --- praia
Processing Record 1 in set 5 --- narsaq
Processing Record 2 in set 5 --- fuerte
Processing Record 3 in set 5 --- karratha
Processing Record 4 in set 5 --- vetluga
Processing Record 5 in set 5 --- makakilo city
Processing Record 6 in set 5 --- ainazi
Processing Record 7 in set 5 --- samarai
Processing Record 8 in set 5 --- ouadda
Processing Record 9 in set 5 --- bolgatanga
Processing Record 10 in set 5 --- myrtle grove
Processing Record 11 in set 5 --- antofagasta
Processing Record 12 in set 5 --- aromashevo
Processing Record 13 in set 5 --- wattegama
Processing Record 14 in set 5 --- saleaula
city not found --- skip
Processing Record 15 in set 5 --- zhanaozen
Processing Record 16 in set 5 --- rio grande
Processing Record 17 in set 5 --- chuy
Processing Record 18 in set 5 --- paradwip
city not found --- skip
Processing Record 19 in set 5 --- torbay
Processing Record 20 in set 5 --- ancud
Processing Record 21 in set 5 --- kahului
Processing Record 22 in set 5 --- saint-joseph
Processing Record 23 in set 5 --- hualmay
Processing Record 24 in set 5 --- sterling
Processing Record 25 in set 5 --- verkhnyaya inta
Processing Record 26 in set 5 --- ribeira grande
Processing Record 27 in set 5 --- vardo
Processing Record 28 in set 5 --- esperance
Processing Record 29 in set 5 --- geraldton
Processing Record 30 in set 5 --- kazalinsk
city not found --- skip
Processing Record 31 in set 5 --- maldonado
Processing Record 32 in set 5 --- qaqortoq
Processing Record 33 in set 5 --- mutata
Processing Record 34 in set 5 --- along
Processing Record 35 in set 5 --- langevag
Processing Record 36 in set 5 --- merauke
Processing Record 37 in set 5 --- nome
Processing Record 38 in set 5 --- koumac
Processing Record 39 in set 5 --- kasempa
Processing Record 40 in set 5 --- kinablangan
Processing Record 41 in set 5 --- alice springs
Processing Record 42 in set 5 --- burnie
Processing Record 43 in set 5 --- hamilton
Processing Record 44 in set 5 --- pauini
Processing Record 45 in set 5 --- encruzilhada do sul
Processing Record 46 in set 5 --- port hardy
Processing Record 47 in set 5 --- carnarvon
Processing Record 48 in set 5 --- ahipara
Processing Record 49 in set 5 --- yurginskoye
Processing Record 0 in set 6 --- great yarmouth
Processing Record 1 in set 6 --- primorsk
Processing Record 2 in set 6 --- pevek
Processing Record 3 in set 6 --- port blair
Processing Record 4 in set 6 --- zaplyusye
city not found --- skip
Processing Record 5 in set 6 --- lolua
city not found --- skip
Processing Record 6 in set 6 --- mildura
Processing Record 7 in set 6 --- nyurba
Processing Record 8 in set 6 --- kununurra
Processing Record 9 in set 6 --- segezha
Processing Record 10 in set 6 --- bereda
Processing Record 11 in set 6 --- hongjiang
Processing Record 12 in set 6 --- egvekinot
Processing Record 13 in set 6 --- requena
Processing Record 14 in set 6 --- le port
Processing Record 15 in set 6 --- shache
Processing Record 16 in set 6 --- kijang
Processing Record 17 in set 6 --- altamira
Processing Record 18 in set 6 --- concarneau
Processing Record 19 in set 6 --- marzuq
Processing Record 20 in set 6 --- guerrero negro
Processing Record 21 in set 6 --- cervo
Processing Record 22 in set 6 --- husavik
Processing Record 23 in set 6 --- san blas
Processing Record 24 in set 6 --- prestea
Processing Record 25 in set 6 --- provideniya
Processing Record 26 in set 6 --- comodoro rivadavia
Processing Record 27 in set 6 --- yulara
Processing Record 28 in set 6 --- ximei
Processing Record 29 in set 6 --- pacific grove
Processing Record 30 in set 6 --- nhulunbuy
Processing Record 31 in set 6 --- kodinsk
Processing Record 32 in set 6 --- chapais
Processing Record 33 in set 6 --- padang
Processing Record 34 in set 6 --- rawson
Processing Record 35 in set 6 --- oil city
Processing Record 36 in set 6 --- namibe
Processing Record 37 in set 6 --- san quintin
Processing Record 38 in set 6 --- ixtapa
Processing Record 39 in set 6 --- grand gaube
Processing Record 40 in set 6 --- san patricio
Processing Record 41 in set 6 --- braganca
Processing Record 42 in set 6 --- narkevychi
Processing Record 43 in set 6 --- nianzishan
Processing Record 44 in set 6 --- kotri
Processing Record 45 in set 6 --- lasa
Processing Record 46 in set 6 --- tilichiki
Processing Record 47 in set 6 --- andenes
Processing Record 48 in set 6 --- cidreira
Processing Record 49 in set 6 --- nambucca heads
Processing Record 0 in set 7 --- mayo
Processing Record 1 in set 7 --- puerto escondido
Processing Record 2 in set 7 --- krasnoselkup
Processing Record 3 in set 7 --- la palma
Processing Record 4 in set 7 --- fairbanks
Processing Record 5 in set 7 --- maarianhamina
Processing Record 6 in set 7 --- yongan
Processing Record 7 in set 7 --- bima
Processing Record 8 in set 7 --- scarborough
Processing Record 9 in set 7 --- dunedin
Processing Record 10 in set 7 --- linjiang
Processing Record 11 in set 7 --- mercedes
Processing Record 12 in set 7 --- ishigaki
Processing Record 13 in set 7 --- sao felix do xingu
Processing Record 14 in set 7 --- kakonko
Processing Record 15 in set 7 --- chumikan
Processing Record 16 in set 7 --- pafos
Processing Record 17 in set 7 --- ugoofaaru
Processing Record 18 in set 7 --- sao filipe
Processing Record 19 in set 7 --- gizo
Processing Record 20 in set 7 --- goderich
Processing Record 21 in set 7 --- nangomba
Processing Record 22 in set 7 --- aktau
Processing Record 23 in set 7 --- zhigansk
Processing Record 24 in set 7 --- nguru
Processing Record 25 in set 7 --- atbasar
Processing Record 26 in set 7 --- taoudenni
Processing Record 27 in set 7 --- hervey bay
Processing Record 28 in set 7 --- port-gentil
Processing Record 29 in set 7 --- una
Processing Record 30 in set 7 --- tandil
Processing Record 31 in set 7 --- saint anthony
Processing Record 32 in set 7 --- san cristobal
Processing Record 33 in set 7 --- kushiro
Processing Record 34 in set 7 --- waipawa
Processing Record 35 in set 7 --- tumannyy
city not found --- skip
Processing Record 36 in set 7 --- nelson bay
Processing Record 37 in set 7 --- dukat
Processing Record 38 in set 7 --- clifton
Processing Record 39 in set 7 --- fuling
Processing Record 40 in set 7 --- mount gambier
Processing Record 41 in set 7 --- sao joao da barra
Processing Record 42 in set 7 --- daru
Processing Record 43 in set 7 --- moose factory
Processing Record 44 in set 7 --- paros
Processing Record 45 in set 7 --- altagracia de orituco
Processing Record 46 in set 7 --- smithers
Processing Record 47 in set 7 --- glenwood springs
Processing Record 48 in set 7 --- pervomayskoye
Processing Record 49 in set 7 --- sampit
Processing Record 0 in set 8 --- aflu
city not found --- skip
Processing Record 1 in set 8 --- bayangol
Processing Record 2 in set 8 --- calvinia
Processing Record 3 in set 8 --- terra santa
Processing Record 4 in set 8 --- severo-kurilsk
Processing Record 5 in set 8 --- norsup
Processing Record 6 in set 8 --- maryville
Processing Record 7 in set 8 --- baft
Processing Record 8 in set 8 --- anage
Processing Record 9 in set 8 --- marrakesh
Processing Record 10 in set 8 --- krugersdorp
Processing Record 11 in set 8 --- fort-shevchenko
Processing Record 12 in set 8 --- novikovo
Processing Record 13 in set 8 --- port moresby
Processing Record 14 in set 8 --- cockburn harbour
city not found --- skip
Processing Record 15 in set 8 --- eregli

Processing Record 16 in set 8 --- tahta
Processing Record 17 in set 8 --- port elizabeth
Processing Record 18 in set 8 --- prince rupert
Processing Record 19 in set 8 --- bolshaya murta
city not found --- skip
Processing Record 20 in set 8 --- contamana
Processing Record 21 in set 8 --- aybak
city not found --- skip
Processing Record 22 in set 8 --- kastamonu
Processing Record 23 in set 8 --- arica
Processing Record 24 in set 8 --- yar-sale
Processing Record 25 in set 8 --- katsuura
Processing Record 26 in set 8 --- sorland
Processing Record 27 in set 8 --- buraydah
Processing Record 28 in set 8 --- hohhot
Processing Record 29 in set 8 --- san policarpo
Processing Record 30 in set 8 --- adrar
Processing Record 31 in set 8 --- corinto
Processing Record 32 in set 8 --- bhakkar
Processing Record 33 in set 8 --- kuminskiy
Processing Record 34 in set 8 --- snellville
Processing Record 35 in set 8 --- tingrela
city not found --- skip
Processing Record 36 in set 8 --- upernavik
Processing Record 37 in set 8 --- windsor
Processing Record 38 in set 8 --- konstantinovka
Processing Record 39 in set 8 --- abu samrah
Processing Record 40 in set 8 --- coquimbo
Processing Record 41 in set 8 --- viedma
Processing Record 42 in set 8 --- nueva gorgona
Processing Record 43 in set 8 --- minna
Processing Record 44 in set 8 --- korla
Processing Record 45 in set 8 --- tsihombe
city not found --- skip
Processing Record 46 in set 8 --- wanxian
Processing Record 47 in set 8 --- toowoomba
Processing Record 48 in set 8 --- harrisonburg
Processing Record 49 in set 8 --- hihifo
city not found --- skip
Processing Record 0 in set 9 --- lambarene
Processing Record 1 in set 9 --- sao miguel do araguaia
Processing Record 2 in set 9 --- paka
Processing Record 3 in set 9 --- mys shmidta
city not found --- skip
Processing Record 4 in set 9 --- belem de sao francisco
Processing Record 5 in set 9 --- srednebelaya
Processing Record 6 in set 9 --- kayankulam
Processing Record 7 in set 9 --- kirakira
Processing Record 8 in set 9 --- alofi
Processing Record 9 in set 9 --- bayevo
Processing Record 10 in set 9 --- moundsville
Processing Record 11 in set 9 --- faya
Processing Record 12 in set 9 --- istanbul
Processing Record 13 in set 9 --- inverness
Processing Record 14 in set 9 --- nazas
Processing Record 15 in set 9 --- urdoma
Processing Record 16 in set 9 --- yerbogachen
Processing Record 17 in set 9 --- airai
Processing Record 18 in set 9 --- barraute
Processing Record 19 in set 9 --- okhotsk
Processing Record 20 in set 9 --- basse
Processing Record 21 in set 9 --- alcala de henares
Processing Record 22 in set 9 --- sayula
Processing Record 23 in set 9 --- kungurtug
Processing Record 24 in set 9 --- zhongshu
Processing Record 25 in set 9 --- constitucion
Processing Record 26 in set 9 --- kroya
Processing Record 27 in set 9 --- roald
Processing Record 28 in set 9 --- xuanwu
Processing Record 29 in set 9 --- alamosa
Processing Record 30 in set 9 --- paita
Processing Record 31 in set 9 --- broome
Processing Record 32 in set 9 --- ostrovnoy
Processing Record 33 in set 9 --- moba
Processing Record 34 in set 9 --- nsukka
Processing Record 35 in set 9 --- jiujiang
Processing Record 36 in set 9 --- keti bandar
Processing Record 37 in set 9 --- matam
Processing Record 38 in set 9 --- yicheng
Processing Record 39 in set 9 --- jacksonville
Processing Record 40 in set 9 --- sobolevo
Processing Record 41 in set 9 --- khasan
Processing Record 42 in set 9 --- ruatoria
city not found --- skip
Processing Record 43 in set 9 --- richards bay
Processing Record 44 in set 9 --- rocha
Processing Record 45 in set 9 --- marv dasht
city not found --- skip
Processing Record 46 in set 9 --- harnosand
Processing Record 47 in set 9 --- takoradi
Processing Record 48 in set 9 --- isangel
Processing Record 49 in set 9 --- beringovskiy
Processing Record 0 in set 10 --- la paz
Processing Record 1 in set 10 --- flinders
Processing Record 2 in set 10 --- lazaro cardenas
Processing Record 3 in set 10 --- gallatin
Processing Record 4 in set 10 --- serenje
Processing Record 5 in set 10 --- faridkot
Processing Record 6 in set 10 --- nguiu
city not found --- skip
Processing Record 7 in set 10 --- sindor
Processing Record 8 in set 10 --- burkhala
city not found --- skip
Processing Record 9 in set 10 --- orchard homes
Processing Record 10 in set 10 --- mahibadhoo
Processing Record 11 in set 10 --- seoul
Processing Record 12 in set 10 --- suba
Processing Record 13 in set 10 --- mnogovershinnyy
Processing Record 14 in set 10 --- kargasok
Processing Record 15 in set 10 --- deputatskiy
Processing Record 16 in set 10 --- houlton
Processing Record 17 in set 10 --- mahajanga
Processing Record 18 in set 10 --- komsomolsk
Processing Record 19 in set 10 --- naze
Processing Record 20 in set 10 --- buchanan
Processing Record 21 in set 10 --- shima
Processing Record 22 in set 10 --- luanda
Processing Record 23 in set 10 --- turukhansk
Processing Record 24 in set 10 --- mogadishu
Processing Record 25 in set 10 --- lata
Processing Record 26 in set 10 --- lewisville
Processing Record 27 in set 10 --- kenai
Processing Record 28 in set 10 --- hasaki
Processing Record 29 in set 10 --- kandi
Processing Record 30 in set 10 --- ayagoz
Processing Record 31 in set 10 --- andros town
Processing Record 32 in set 10 --- genhe
Processing Record 33 in set 10 --- jalapa
Processing Record 34 in set 10 --- shingu
Processing Record 35 in set 10 --- surab
Processing Record 36 in set 10 --- sioux lookout
Processing Record 37 in set 10 --- margate
Processing Record 38 in set 10 --- beloha
Processing Record 39 in set 10 --- san-pedro
Processing Record 40 in set 10 --- kalianget
Processing Record 41 in set 10 --- latung
Processing Record 42 in set 10 --- nizhneyansk
city not found --- skip
Processing Record 43 in set 10 --- ilo
Processing Record 44 in set 10 --- meulaboh
Processing Record 45 in set 10 --- murchison
Processing Record 46 in set 10 --- zhangjiakou
Processing Record 47 in set 10 --- kommunar
Processing Record 48 in set 10 --- bubaque
Processing Record 49 in set 10 --- vila velha
Processing Record 0 in set 11 --- comarapa
Processing Record 1 in set 11 --- medicine hat
Processing Record 2 in set 11 --- saint-leu
Processing Record 3 in set 11 --- goure
Processing Record 4 in set 11 --- esna
Processing Record 5 in set 11 --- port augusta
Processing Record 6 in set 11 --- ondangwa
Processing Record 7 in set 11 --- patitirion
Processing Record 8 in set 11 --- tommot
Processing Record 9 in set 11 --- petropavlovsk-kamchatskiy
Processing Record 10 in set 11 --- goedereede
Processing Record 11 in set 11 --- fonte boa
Processing Record 12 in set 11 --- manga
Processing Record 13 in set 11 --- kasiri
Processing Record 14 in set 11 --- bac lieu
Processing Record 15 in set 11 --- ayios kirikos
city not found --- skip
Processing Record 16 in set 11 --- avsyunino
Processing Record 17 in set 11 --- bulawayo
Processing Record 18 in set 11 --- springbok
Processing Record 19 in set 11 --- vestmannaeyjar
Processing Record 20 in set 11 --- port hueneme
Processing Record 21 in set 11 --- adelaide
Processing Record 22 in set 11 --- port lincoln
Processing Record 23 in set 11 --- umm durman
city not found --- skip
Processing Record 24 in set 11 --- iracoubo
Processing Record 25 in set 11 --- ilulissat
Processing Record 26 in set 11 --- celestun
Processing Record 27 in set 11 --- leoben
Processing Record 28 in set 11 --- zavodouspenskoye
Processing Record 29 in set 11 --- araouane
Processing Record 30 in set 11 --- paamiut
Processing Record 31 in set 11 --- majene
Processing Record 32 in set 11 --- tete
Processing Record 33 in set 11 --- urfa
city not found --- skip
Processing Record 34 in set 11 --- noumea
Processing Record 35 in set 11 --- hun
Processing Record 36 in set 11 --- prachuap khiri khan
Processing Record 37 in set 11 --- lai
Processing Record 38 in set 11 --- mo i rana
Processing Record 39 in set 11 --- mecca
Processing Record 40 in set 11 --- cam ranh
Processing Record 41 in set 11 --- hit
Processing Record 42 in set 11 --- louisbourg
city not found --- skip
Processing Record 43 in set 11 --- wahiawa
Processing Record 44 in set 11 --- chalchihuites
Processing Record 45 in set 11 --- gelibolu

Processing Record 46 in set 11 --- souillac
Processing Record 47 in set 11 --- cedral
Processing Record 48 in set 11 --- coxim
Processing Record 49 in set 11 --- dolinsk
Processing Record 0 in set 12 --- bastia
Processing Record 1 in set 12 --- matrei
city not found --- skip
Processing Record 2 in set 12 --- haines junction
Processing Record 3 in set 12 --- edmundston
Processing Record 4 in set 12 --- ushtobe
Processing Record 5 in set 12 --- praia da vitoria
Processing Record 6 in set 12 --- cabatuan
Processing Record 7 in set 12 --- kalomo
city not found --- skip
Processing Record 8 in set 12 --- lamu
Processing Record 9 in set 12 --- saint-denis
Processing Record 10 in set 12 --- marsabit
Processing Record 11 in set 12 --- vanavara
Processing Record 12 in set 12 --- jerez
Processing Record 13 in set 12 --- malanje
Processing Record 14 in set 12 --- batak
Processing Record 15 in set 12 --- hambantota
Processing Record 16 in set 12 --- zyryanka
Processing Record 17 in set 12 --- kabare
Processing Record 18 in set 12 --- kavieng
Processing Record 19 in set 12 --- vao
Processing Record 20 in set 12 --- partizanskoye
Processing Record 21 in set 12 --- amderma
city not found --- skip
Processing Record 22 in set 12 --- grindavik
Processing Record 23 in set 12 --- cochrane
Processing Record 24 in set 12 --- semypolky
Processing Record 25 in set 12 --- kauhajoki
Processing Record 26 in set 12 --- komsomolskiy
Processing Record 27 in set 12 --- nyrob
Processing Record 28 in set 12 --- santa maria
Processing Record 29 in set 12 --- mahina
Processing Record 30 in set 12 --- guna
Processing Record 31 in set 12 --- sydney
Processing Record 32 in set 12 --- angra
city not found --- skip
Processing Record 33 in set 12 --- akdepe
Processing Record 34 in set 12 --- halalo
city not found --- skip
Processing Record 35 in set 12 --- zabid
Processing Record 36 in set 12 --- pangai
Processing Record 37 in set 12 --- opobo
city not found --- skip
Processing Record 38 in set 12 --- hobyo
Processing Record 39 in set 12 --- la asuncion
Processing Record 40 in set 12 --- toktogul
Processing Record 41 in set 12 --- oksfjord
Processing Record 42 in set 12 --- yelan
Processing Record 43 in set 12 --- atar
Processing Record 44 in set 12 --- yangcun
Processing Record 45 in set 12 --- popondetta
Processing Record 46 in set 12 --- otane
Processing Record 47 in set 12 --- vostok
Processing Record 48 in set 12 --- cochirleanca
Processing Record 49 in set 12 --- zhaotong
Processing Record 0 in set 13 --- sitka
Processing Record 1 in set 13 --- guiglo
Processing Record 2 in set 13 --- ratholo
Processing Record 3 in set 13 --- disna
Processing Record 4 in set 13 --- bagdarin
Processing Record 5 in set 13 --- mushie
Processing Record 6 in set 13 --- vila do maio
Processing Record 7 in set 13 --- tuatapere
Processing Record 8 in set 13 --- ransang
Processing Record 9 in set 13 --- kolochava
Processing Record 10 in set 13 --- razole
Processing Record 11 in set 13 --- labuhan
Processing Record 12 in set 13 --- lensk
Processing Record 13 in set 13 --- dhamtari
Processing Record 14 in set 13 --- olafsvik
Processing Record 15 in set 13 --- bathsheba
Processing Record 16 in set 13 --- magadan
Processing Record 17 in set 13 --- wulanhaote
city not found --- skip
Processing Record 18 in set 13 --- barra dos coqueiros
Processing Record 19 in set 13 --- port macquarie
Processing Record 20 in set 13 --- pangkalanbuun
Processing Record 21 in set 13 --- muroto
Processing Record 22 in set 13 --- chimbote
Processing Record 23 in set 13 --- dahegam
Processing Record 24 in set 13 --- issenye
Processing Record 25 in set 13 --- igarka
Processing Record 26 in set 13 --- filadelfia

In [15]:
cities_df

,City Name,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,shrewsbury,52.7101,-2.7521,280.15,87,75,3.6,GB,1619568831
1,sangar,63.9242,127.474,265.12,83,47,3.82,RU,1619568832
2,vaini,-21.2,-175.2,297.15,83,75,7.72,TO,1619568832
3,bredasdorp,-34.5322,20.0403,283.15,93,99,0.51,ZA,1619568721
4,el faiyum,,,,,,,,
...,...,...,...,...,...,...,...,...,...
622,chimbote,-9.0853,-78.5783,291.86,90,76,3.11,PE,1619569307
623,dahegam,23.1667,72.8167,303.15,30,40,1.54,IN,1619569308
624,issenye,-2,34.3333,289.22,95,34,1.48,TZ,1619569308
625,igarka,67.4667,86.5833,273.55,86,100,6.4,RU,1619569308
626,filadelfia,39.9523,-75.1638,295.37,46,75,2.06,US,1619569057

In [31]:
#dataframe created with object as datatypes for all columns 
cities_df.dtypes

City Name     object
Lat           object
Lng           object
Max Temp      object
Humidity      object
Cloudiness    object
Wind Speed    object
Country       object
Date          object
dtype: object

In [16]:
#export as csv
cities_df.to_csv(city_output)

In [32]:
#read as csv to change datatypes 
cities = pd.read_csv('output_data/cities.csv')

#check dtypes
cities.dtypes

Unnamed: 0      int64
City Name      object
Lat           float64
Lng           float64
Max Temp      float64
Humidity      float64
Cloudiness    float64
Wind Speed    float64
Country        object
Date          float64
dtype: object

In [29]:
#no cities with over 100 humidity
cities_over100=cities.loc[(cities['Humidity']>100)]
cities_over100.count()

Unnamed: 0    0
City Name     0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
Country       0
Date          0
dtype: int64

In [38]:

cities=cities.drop(columns = 'Unnamed: 0')

KeyError: "['Unnamed: 0'] not found in axis"

In [43]:
cities

,City Name,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,shrewsbury,52.7101,-2.7521,280.15,87.0,75.0,3.60,GB,1.619569e+09
1,sangar,63.9242,127.4739,265.12,83.0,47.0,3.82,RU,1.619569e+09
2,vaini,-21.2000,-175.2000,297.15,83.0,75.0,7.72,TO,1.619569e+09
3,bredasdorp,-34.5322,20.0403,283.15,93.0,99.0,0.51,ZA,1.619569e+09
4,el faiyum,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
622,chimbote,-9.0853,-78.5783,291.86,90.0,76.0,3.11,PE,1.619569e+09
623,dahegam,23.1667,72.8167,303.15,30.0,40.0,1.54,IN,1.619569e+09
624,issenye,-2.0000,34.3333,289.22,95.0,34.0,1.48,TZ,1.619569e+09
625,igarka,67.4667,86.5833,273.55,86.0,100.0,6.40,RU,1.619569e+09
626,filadelfia,39.9523,-75.1638,295.37,46.0,75.0,2.06,US,1.619569e+09

In [47]:
#set cities as index 
cities=cities.set_index('City Name')

In [49]:
#dropped cities with no data available from api 
cities_clean = cities.dropna(axis=0,how='all')

In [50]:
cities_clean

,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
City Name,,,,,,,,
shrewsbury,52.7101,-2.7521,280.15,87.0,75.0,3.60,GB,1.619569e+09
sangar,63.9242,127.4739,265.12,83.0,47.0,3.82,RU,1.619569e+09
vaini,-21.2000,-175.2000,297.15,83.0,75.0,7.72,TO,1.619569e+09
bredasdorp,-34.5322,20.0403,283.15,93.0,99.0,0.51,ZA,1.619569e+09
chifeng,42.2683,118.9636,283.33,20.0,0.0,9.71,CN,1.619569e+09
...,...,...,...,...,...,...,...,...
chimbote,-9.0853,-78.5783,291.86,90.0,76.0,3.11,PE,1.619569e+09
dahegam,23.1667,72.8167,303.15,30.0,40.0,1.54,IN,1.619569e+09
issenye,-2.0000,34.3333,289.22,95.0,34.0,1.48,TZ,1.619569e+09
igarka,67.4667,86.5833,273.55,86.0,100.0,6.40,RU,1.619569e+09
filadelfia,39.9523,-75.1638,295.37,46.0,75.0,2.06,US,1.619569e+09